@import '_variables';
@import '_mixins';
@import '_keyframes';

@import '~bootstrap/scss/bootstrap';

html {
	margin: 0;
	body {
		margin: 0;
		font-family: $font;
		color: $primary;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}